.timeline {
	padding: 0 !important;

	.MuiTimelineSeparator-root {
		min-height: 0px;
	}
	.MuiTimelineItem-root {
		min-height: 40px;
	}

	.MuiTimelineConnector-root {
		background-color: #eee !important;
	}

	.MuiTimelineItem-missingOppositeContent::before {
		display: none;
	}
	.MuiTimelineContent-root {
		padding: 3px 9px !important;
	}

	&-first {
		min-height: 70px !important;

		.timeline-dot-header {
			color: black;
			background-color: #ffc500;
			font-size: small;

			& > .MuiSvgIcon-root {
				font-size: 20px;
				color: darkslategray;
			}
		}

		.timeline-header {
			padding-top: 7px;
			font-weight: 600 !important;
			font-size: 18px;
		}
	}

	.timeline-padding {
		padding-left: 10px !important;

		.timeline-dot {
			color: black;
			border-color: #ffc500;
			font-size: small;
		}
	}

	.content {
		font-size: 13px !important;
		margin-top: 2px;
		margin-bottom: 12px;

		a {
			text-decoration: none;
			color: #777;
			font-size: 13px;
		}

		.text {
			color: #777;
		}

		.title {
			color: black;
		}
	}
}
