@import '../../assets/scss/mixins';

.home-about {
	margin-top: 3rem;

	.about-image {
		object-fit: cover;
		padding-top: 2rem;

		img {
			width: 100%;
			border-radius: 10px;
		}
	}

	.about-right {
		padding-top: 2rem;
		.about-text {
			font-size: 1.4rem;
			font-weight: 600;
			margin-bottom: 0.625rem;

			span {
				color: crimson;
			}
		}

		p {
			margin-top: 2rem;
			text-align: justify;
		}

		a {
			background-color: crimson;
			display: inline-block;
			text-decoration: none;
			color: white;
			font-weight: 500;
			font-size: 1.25rem;
			padding: 5px 1.25rem;
			margin-top: 1.5rem;
			border-radius: 7px;
			border: 2px solid crimson;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: black;
				background: none;
			}
		}
	}
}
