.section {
	display: flex;
	margin-bottom: 30px;

	&-text {
		font-size: 15px;
		color: #777;
		white-space: pre-line;
		line-height: 22px !important;
	}

	&-left {
		flex: 1;
	}

	&-right {
		flex: 1;
	}

	.timeline-title {
		font-size: 16px !important;
		font-weight: 600 !important;
	}

	.timeline-date {
		color: darkslategray;
	}

	.timeline-desc {
		color: gray;
		font-size: small;
		margin-top: 6px;
	}

	.service {
		height: 100%;
		text-align: center;

		&-title {
			font-size: 16px !important;
			font-weight: 500 !important;
			line-height: 35px !important;
			text-align: center;
		}

		&-icon > .MuiSvgIcon-root {
			font-size: 46px !important;
			margin-left: 0 !important;
			font-weight: 300 !important;
			color: darkslategray !important;
			margin-bottom: 16px;
		}

		&-description {
			color: #989898;
			border-color: #ffc500;
			margin-right: 5px;
			text-align: center;
		}
	}
}
