.project-card {
	margin-top: 2rem !important;

	.project-info {
		.project-title {
			font-size: 20px;
			font-weight: 600;
		}

		.project-links {
			margin: 0.5rem 0;

			a {
				color: black;
				width: 30px;
				height: 30px;
				padding: 8px;
				justify-content: center;
				align-items: center;
				background-color: aquamarine;
				margin: 20px 20px 20px 0;
				border-radius: 50%;
			}
		}
	}

	.project-image {
		.project-photo {
			width: 100%;
			object-fit: cover;
			border-radius: 10px;
		}
	}
}
